.list-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cc2e06;
}

li {
  float: left;
}

.list {
  display: block;
  color: #fff5e2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 4vh;
    font-family: "Pirata One", system-ui;

}

.list:hover {
  background-color: #971e00;
}